@model List<Department> 
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<a href="/Department/New" class="btn btn-dark">New</a>

<table class="table table-bordered table-hover">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
        </tr>
    }
</table>

